.env
tree.txt
Test.txt
SETUP.md
terraform/terraform.tf*
terraform/.terraform
terraform/.terraform*
terraform/*.tfstate*
terrafrom.tfvars
.venv/
.git
.env
__pycache__/
.venv/
terraform/*.tfvars
*.tfvars
terraform/terrafrom.tfvars